.round_img {
    border-radius: 50%;
    width : 100px;
    height : 100px;
    margin : auto;
    padding : 20px;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
.round_img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
  }

.flex {
    display : flex;
    flex-direction: row;
}
